{% extends 'layout.html.twig' %}

{% block main %}
    <h2>Catégories</h2>
    <a class="btn btn-success mb-2" href="{{ path('admin_create_category') }}">Créer une catégorie</a>
    <table class="table table-striped">
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('admin_detail_category', {'id': category.id}) }}">Détail</a>

                    <a class="btn btn-sm btn-danger" href="{{ path('admin_remove_category', {'id': category.id}) }}">Supprimer</a>

                    <a class="btn btn-sm btn-warning" href="{{ path('admin_update_category', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block title %}{% endblock %}